# Python stuff
__pycache__/

# Files
getting_swiss_petrol_stations.ipynb
petrol_stations.json
petrol_stations.csv

# Generated outputs
12_Python_Graph_NN_Spatial_Clustering/cluster_results.json
12_Python_Graph_NN_Spatial_Clustering/server_stdout.log
12_Python_Graph_NN_Spatial_Clustering/server_stderr.log

# Virtual environment
.venv/

# Node.js
node_modules/
dist/
.vite/
